.kanban {
    display: flex;
    flex-direction: column;
    border-radius: 2.5px;
    min-width: 1300px;
    min-height: 500px;
}

.kanban .title {
    background-color: lightgrey;
    color: black;
    text-align: center;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.kanban .body {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    border: 1px solid lightgrey;
    padding-left: 10px;
    padding-right: 10px;
}

.kanban .kanban-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow-y: auto;
    margin-left: 10px;
    margin-right: 10px;
}

.kanban .kanban-column .body {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}