.project-selector {
    position: fixed;
    left: 0px;
    top: 20px;
    bottom: 20px; 
    width: 260px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.project-selector__list {
    height: auto;
    padding: 0px;
    width: 100%;
}