.google-sign-in-button {
    display: inline-flex;
    align-items: center;
    padding: 10px;
    border-radius: 4;
    border: 1px solid #dadce0;
    background: #fff;
    color: #202124;
    cursor: pointer;
    font-weight: 500;
    font-size: 14;
}

.google-logo {
    width: 18px;
    height: 18px;
    margin-right: 12px;
    display: inline-block;
}